mat-card{
    max-width: 60%;
    max-height: 100%;
}

.movieCard{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width:75%;
}

.container{
     display: flex;
    align-items: stretch;
    align-self: center;
    justify-content: space-around;
}

#content{
    overflow: hidden;
    width:100%;
    padding-top: 1%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    }