<div class="container" style="justify-content:center; text-align: center;" >
  <form>
    <div>
      <h2>Login</h2>
      <div class="row">
          <label for="username"><b>Username</b></label>
          <input type="text" placeholder="Enter username" name="username" required>
      </div>
      <div>
        <label for="pwd"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="pwd" required>
      </div>
      <div>
        <button type="submit">Login</button>
      </div>
    </div>
  </form>
</div>

